
table {width: 100%;
       border: none ;
       background-color: red;
       border-radius: 15%  15% 0% 0%;
       
       }
th {Background-color: #efb13c;
          text-align: center;
          padding: 1%;
        }
th:first-child {
            border-top-left-radius: 25%;
          }
          
          /* Aplica el borde redondeado a la esquina superior derecha del último encabezado */
th:last-child {
            border-top-right-radius: 15%;
            
            
          }